<footer class="footer">
    <div class="container">
        <div class="row">
            <nav class="footer-nav">
                <ul>
                    <li><a href="https://github.com/guandali">Guanda Li</a></li>
                    <li><a href="http://github.com/hjy0102">Hyojin Yi</a></li>
                    <li><a href="https://github.com/kennythepark">Kenny Park</a></li>
                </ul>
            </nav>
            <div class="credits ml-auto">
                <span class="copyright">
                    © {{test | date: 'yyyy'}}, made with <i class="fa fa-heart heart"></i> by Guanda Li, Hyojin Yi, Kenny Park
                </span>
            </div>
        </div>
    </div>
</footer>
