<div class="page-header" data-parallax="true" style="background-image: url('../assets/img/landing-home.jpeg');">
    <div class="filter"></div>
    <div class="container">
        <div class="moving-clouds" style="background-image: url('assets/img/hashtags.png'); "></div>
        <div class="motto text-center">
            <h1><b>AI-powered Tag Generator</b></h1>
            <h4>#for #all #your #social #media #needs</h4>
            <br><br><br>
            <!-- <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="btn btn-outline-neutral btn-round"><i class="fa fa-play"></i>Watch video</a> -->
            <div class="form_controls">
				<div class="btn btn-outline-neutral btn-lg btn-round">
                <!-- <div> -->
                    <label id="upload-photo" for="fileupload">UPLOAD PHOTO</label>
                    <!-- <button class="btn btn-outline-neutral btn-lg btn-round" for="fileupload">UPLOAD PHOTO</button> -->
					<!-- onChange hanlder resets the input value to get the change event when uploading the same file consecutively -->
					<input type="file" id="fileupload" #fileInput ng2FileSelect [style.display]="'none'" [uploader]="uploader" (change)="fileInput.value=''" multiple />
				</div>
			</div>
            <br><br />
            <!-- <form action="fileupload"
                class="dropzone" id="my-awesome-dropzone"  #fileInput ng2FileSelect [uploader]="uploader" placeholder=" Drag-and-drop or click here to upload your image!">
            </form> -->
        </div>
    </div>
</div>
<div class="main">
        
  
    <div class="section text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mr-auto ml-auto">
                <h2 class="title">Here are your tags!</h2>
                <h5 class="description">Click the "Copy to Clipboard" button to copy all tags, <br/>or only copy the ones you want by clicking each tag.</h5>
                <br>
                <!-- <a href="#paper-kit" class="btn btn-danger btn-round">See Details</a> -->
            </div>
        </div>
        <br><br>
        <div class="tag-output">
            <button type="button" class="btn tag-button btn-sm btn-default">#nwhacks</button>
            <button type="button" class="btn tag-button btn-sm btn-primary">#vancouver</button>
            <button type="button" class="btn tag-button btn-sm btn-info">#markzuckerberg</button>
            <button type="button" class="btn tag-button btn-sm btn-success">#nwhacks2018</button>
            <button type="button" class="btn tag-button btn-sm btn-warning">#water</button>
            <button type="button" class="btn tag-button btn-sm btn-danger">#nosleepteam</button>
            <button type="button" class="btn tag-button btn-sm btn-default">#oranges</button>
        </div>
        <br><br><br><br>
        <div class="row">
            <div class="col-md-8 mr-auto ml-auto">
                <button type="button" class="btn btn-danger btn-lg btn-round">Copy to Clipboard</button>
            </div>
        </div>
        <!-- <div class="row">
            <div class="col-md-3">
                <div class="info">
                    <div class="icon icon-danger">
                        <i class="nc-icon nc-album-2"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">Beautiful Gallery</h4>
                        <p class="description">Spend your time generating new ideas. You don't have to think of implementing.</p>
                        <a href="#pkp" class="btn btn-link btn-danger">See more</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="info">
                    <div class="icon icon-danger">
                        <i class="nc-icon nc-bulb-63"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">New Ideas</h4>
                        <p>Larger, yet dramatically thinner. More powerful, but remarkably power efficient.</p>
                        <a href="#pkp" class="btn btn-link btn-danger">See more</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="info">
                    <div class="icon icon-danger">
                        <i class="nc-icon nc-chart-bar-32"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">Statistics</h4>
                        <p>Choose from a veriety of many colors resembling sugar paper pastels.</p>
                        <a href="#pkp" class="btn btn-link btn-danger">See more</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="info">
                    <div class="icon icon-danger">
                        <i class="nc-icon nc-sun-fog-29"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">Delightful design</h4>
                        <p>Find unique and handmade delightful designs related items directly from our sellers.</p>
                        <a href="#pkp" class="btn btn-link btn-danger">See more</a>
                    </div>
                </div>
            </div>
        </div> -->

    </div>
</div>

<!-- <div class="section section-dark text-center">
    <div class="container">
        <h2 class="title">Let's talk about us</h2>
        <div class="row">
            <div class="col-md-4">
                <div class="card card-profile card-plain">
                    <div class="card-avatar">
                        <a href="#avatar"><img src="../assets/img/faces/clem-onojeghuo-3.jpg" alt="..."></a>
                    </div>
                    <div class="card-block">
                        <a href="#paper-kit">
                            <div class="author">
                                <h4 class="card-title">Henry Ford</h4>
                                <h6 class="card-category">Product Manager</h6>
                            </div>
                        </a>
                        <p class="card-description text-center">
                        Teamwork is so important that it is virtually impossible for you to reach the heights of your capabilities or make the money that you want without becoming very good at it.
                        </p>
                    </div>
                    <div class="card-footer text-center">
                        <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-twitter"></i></a>
                        <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-google-plus"></i></a>
                        <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card card-profile card-plain">
                    <div class="card-avatar">
                        <a href="#avatar"><img src="../assets/img/faces/joe-gardner-2.jpg" alt="..."></a>
                    </div>
                    <div class="card-block">
                        <a href="#paper-kit">
                            <div class="author">
                                <h4 class="card-title">Sophie West</h4>
                                <h6 class="card-category">Designer</h6>
                            </div>
                        </a>
                        <p class="card-description text-center">
                        A group becomes a team when each member is sure enough of himself and his contribution to praise the skill of the others. No one can whistle a symphony. It takes an orchestra to play it.
                        </p>
                    </div>
                    <div class="card-footer text-center">
                        <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-twitter"></i></a>
                        <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-google-plus"></i></a>
                        <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
