<div class="page-header" data-parallax="true" style="background-image: url('../assets/img/daniel-olahh.jpg');">
    <div class="filter"></div>
    <div class="container">
        <div class="motto text-center">
            <h1>Upload your picture</h1>
            <h3>Drag-and-Drop or upload your image</h3>
            <br />
            <!-- <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="btn btn-outline-neutral btn-round"><i class="fa fa-play"></i>Watch video</a> -->
            <div class="form_controls">
				<div class="btn btn-outline-neutral btn-round">
					<label for="fileupload">Upload</label>
					<!-- onChange hanlder resets the input value to get the change event when uploading the same file consecutively -->
					<input type="file" id="fileupload" #fileInput ng2FileSelect [style.display]="'none'" [uploader]="uploader" (change)="fileInput.value=''" multiple />
				</div>
			</div>
            <br><br />
            <!-- <form action="fileupload"
                class="dropzone" id="my-awesome-dropzone"  #fileInput ng2FileSelect [uploader]="uploader" placeholder=" Drag-and-drop or click here to upload your image!">
            </form> -->
        </div>
    </div>
</div>


